body{
    font-family: 'Nunito';
}

.hero-image{
    background-image: url(fall-print.jpg);
    background-position: center;
    width: 100%;
    text-align: center;
}

.hero-text{
    color: azure;
}

.container{
    background-color: bisque;
    align-items: center;
}
.container, .box{
    border: 3px solid #95291a;
}

img{
    width: 300px;
    height: 200px;
}
